<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the Projecth2>
                <hr class="light">
                <p class="text-faded">The goal of this survey is to gather opinions that members of Deaf and/or signing communities have on the development of automatic sign language translation technology (for example, real-time translation from ASL to English or from English to ASL). The survey takes about 20 minutes to complete.</p>
            </div>
        </div>
    </div>
</section>
