<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the Project</h2>
                <hr class="light">
                <p class="text-faded">Ongoing research which focuses on automatic sign language translation should be informed by the communities that primarily use sign language. The goal of this survey is to gather opinions that members of Deaf and/or signing communities have on the development of automatic sign language translation technology (for example, real-time translation from ASL to English or from English to ASL). <span class="emphasized">The survey takes about 30 minutes to complete.</span></p>
            </div>
        </div>
    </div>
</section>
