<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Sign Language Translation Technology Survey</h1>
            <hr>
            <p>I am a graduate student at the University of Washington. I'm conducting a survey about potential sign language translation technology. <span class="emphasized">Participants who complete the survey will receive a $10 e-gift card!</span></p>
            <a href="https://cassandra-maz.github.io/" class="btn btn-primary btn-xl page-scroll">Take The Survey Here!</a>
        </div>
    </div>
</header>
