<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Sign Language Translation Technology Survey</h1>
            <hr>
            <p>I am a graduate student at the University of Washington. I'm conducting a survey about potential sign language translation technology to get a better idea of how members Deaf communities feel about automatic translation tools, and what they would like to see from such technology.</p>
            <a href="https://cassandra-maz.github.io/">Take The Survey Here!</a>
        </div>
    </div>
</header>
