<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Sign Language Translation Technology Survey</h1>
            <hr>
            <p>I am a graduate student at the University of Washington. I'm conducting a survey about potential sign language translation technology. <span class="emphasized">Participants who complete the survey will receive a <span class="extra-emph">$10 e-gift card</span>!</span> Scroll down to learn more and see if you qualify to take the survey.</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfT-txV6DjYy5qQ5llydBfdzriiSzMuImzNQg-tShAbg-elRQ/viewform?usp=sf_link" class="btn btn-primary btn-xl page-scroll">Take The Survey Here!</a>
        </div>
    </div>
</header>
